html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
  background: #f6f9fc;
  color: $text-color;
}

// Typography
p {
  font-size: 18px;
}

strong,
b {
  color: $dark-text;
}

.lead {
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  color: $dark-text;
}

.huge {
  font-size: 68px;
  margin: 0;
}

.small-title {
  text-transform: uppercase;
  font-size: 80%;
}

.center-text {
  text-align: center;
}

// Resets
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
input,
button,
select,
textarea {
  outline: 0 none;
  &:active,
  &:visited,
  &:focus {
    outline: none 0;
  }
}

a {
  color: $link-color;
  &:hover {
    color: #32325d;
  }
}

ul, ol {
  list-style: none;
  padding: 0;
}
