
.card {
  background: #fff;
  box-shadow: 0 2px 4px rgba(50,50,93,.1);
}

.wrapper {
  padding: 0 $gutter;
  max-width: 900px;
  margin: 0 auto;
}

.clearfix {
  &,
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after { clear: both; }
}

.center-block {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex {
  &--center {
    align-items: center;
  }

  &__grow {
    flex: 1;
  }
}

