
// Colors
$primary-color: #6772e5;
$primary-color-light: #7795f8;
$primary-color-faint: #e8f0f5;

$link-color: #6772e5;
$text-color: #777;
$dark-text: #444;
$color-error: #ff0000;
$color-gray: #e4e4e4;

// Layout
$gutter: 16px;
