<!DOCTYPE html>
<html lang="en" ng-app="InvertedIndex">
<head>
  <meta charset="UTF-8">
  <title>Inverted Index</title>
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/app.min.js"></script>
</head>

<body ng-controller="IndexCtrl">
  <div class="wrapper">
    <header class="flex-grid">
      <h1 class="brand">Inverted Index</h1>
      <form class="search-bar" ng-submit="search()">
        <input type="text" class="search-bar--item" ng-model="query" placeholder="Search...">
        <submit class="search-bar--item button">
          <i class="ion-ios-search-strong"></i>
        </submit>
      </form>
    </header>

    <div class="flex-grid">
      <aside class="sidebar">
        <h2 class="block-title">Indexes</h2>

        <ul class="index-list">
          <li ng-repeat="name in indexNames | orderBy:name">
            <a href="#" ng-class="{active: (name === currentIndex )}" ng-click="setIndex(name)"><i class="ion-ios-albums-outline"></i>{{ name }}</a>
          </li>
        </ul>
        <p ng-show="indexNames.length < 1">Upload a JSON file to create an index.</p>

        <label class="btn btn--default">
          Upload &nbsp; <i class="ion-upload"></i>
          <input id="json-file" class="file-upload" type="file">
        </label>
        <div>
          <small class="error" ng-show="message.length > 1">{{ message }}</small>
        </div>

        <footer>
          <small>&copy; 2016 <a href="http://azemoh.com">Azemoh</a></small>
        </footer>
      </aside>

      <div id="indexes" class="card flex__grow">
        <table ng-if="index">
          <thead>
            <tr>
              <th>Words</th>
              <th ng-repeat="i in [] | range:index.docCount">Document {{ i+1 }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in index.words">
              <td>{{ key }}</td>
              <td ng-repeat="i in [] | range:index.docCount">
                <i ng-if="value.includes(i)" class="ion-checkmark-round"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <h1 ng-if="!index" class="bold">Create Index</h1>
      </div>
    </div>
  </div>
</body>

</html>
