
.btn {
  cursor: pointer;
  border: none;

  white-space: nowrap;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  background: #fff;
  border-radius: 18px;
  font-size: 14px;
  letter-spacing: .025em;
  color: $primary-color;
  text-decoration: none;
  transition: all .15s ease;

  &:hover {
    color: #7795f8;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
  }

  &--default {
    color: #fff;
    background: $primary-color;

    &:hover {
      color: #fff;
      background-color: $primary-color-light;
    }
  }
}