header {
  padding: 20px 0;
  margin-bottom: 50px;

  h1 {
    margin: 0;
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    &.flex-grid {
      justify-content: center;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }
}

.sidebar {
  width: 240px;
  padding-right: $gutter * 2;
}

.index-list a {
  text-decoration: none;
  transition: color .3s;
  display: block;
  padding: 10px;
  text-transform: capitalize;

  i {
    margin-right: 10px;
    pointer-events: none;
  }

  &.active {
    background: #fff;
    box-shadow: 0 2px 4px rgba(50,50,93,.1);
  }
}

.block-title {
  margin: 0;
  padding: $gutter / 2 0;
  border-bottom: 2px solid $primary-color-faint;
}

.search-bar {
  display: flex;
  width: 50%;
  min-width: 350px;
  @media screen and (min-width: 769px) {
  }
  &--item {
    box-shadow: 0 2px 4px rgba(50,50,93,.1);
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    font-size: 14px;
  }

  input[type="text"] {
    background: #fff;
    border: none;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    padding: 0 20px;
    flex-grow: 1;
    color: $text-color;
  }

  .button {
    border: none;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    color: #fff;
    cursor: pointer;
    background: $primary-color;
    font-size: 20px;

    &:hover {
      background-color: $primary-color-light;
    }
  }
}

#indexes {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
  }

  thead {
    border-bottom: 2px solid $primary-color-faint;
    color: $primary-color;

    th {
      font-size: 14px;
      padding: 15px 20px;
    }
  }

  th, td {
    border: 1px solid $primary-color-faint;
    padding: 8px 20px;
    text-align: left;
  }

  td:first-of-type {
    color: $dark-text;
  }
}

.file-upload {
  display: none;
}

footer {
  margin-top: 20px;
  padding: $gutter / 2 0;
  border-top: 2px solid $primary-color-faint;
}

.error {
  color: $color-error;
  display: inline-block;
  padding: 10px;
}

.bold {
  color: $color-gray;
  padding: 50px 0;
  text-align: center;
}
